${top()}
<!-- Something extra here -->
${if(xh1off)}
${else}
${if(Title)}
${if(Query)}
  <h1 id=title class=duck><a href="https://duckduckgo.com/lite?kae=t&q=${Title}">${Title}</a></h1>
${else}
  <h1 id=title>${Title}</h1>
${endif}
${endif}
${if(Subtitle)}
  <h2 id=subtitle>${Subtitle}</h2>
${endif}
${endif}
${if(Summary)}
  <p id=summary>${Summary}</p>
${endif}
${if(Index)}
  <ul>
    ${for(Index)}<li><a href="/${it.ID}/">${it.Title}</a></li>${sep}
    ${endfor}
  </ul>
${else}
  ${body}
${endif}
${bottom()}
